<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Gerenciador de Contatos</h1>
    <p>Esperimente o melhor gerenciador de contatos online, desenvolvido pelo melhores engenheiros de software do
      mercado.</p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/contatos']" role="button">Esperimente agora »</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Inclua</h2>
      <p>Inclua todos os seus contatos de maneira rápida e ágil</p>      
    </div>
    <div class="col-md-4">
      <h2>Liste</h2>
      <p>Liste seus contatos e tenha eles sempre em mãos a hora que precisar</p>      
    </div>
    <div class="col-md-4">
      <h2>Filtre</h2>
      <p>Filtre seus contatos pelo nome ou sobrenome</p>     
    </div>
  </div>

  <hr>

  <footer>
    <p>©2018</p>
  </footer>
</div>
